<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
 <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>

      <p>여러분의 맛집을 공유해주세요!</p>
      <img src="https://d22ir9aoo7cbf6.cloudfront.net/wp-content/uploads/sites/2/2018/01/Halal-restaurant-singapore-Afterwit.jpg">  
  </div>
  </body>
</html>
